.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 3em;
}

.img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 10px;
  background-color: white;
}
.handler {
  position: relative;
  right: 40px;
  cursor: move;
}
